* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.sub-container {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "first-box second-box"
    "third-box fourth-box";
    width: 100%;
    align-items: center;
    justify-items: center;

}

.first-box {
    grid-area: first-box;
}

.second-box {
    grid-area: second-box;
}

.third-box {
    grid-area: third-box;
}

.fourth-box {
    grid-area: fourth-box;
}

.first-box,
.second-box,
.third-box,
.fourth-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 15px;
    border: 2px solid #c3ec5f;;
    background-color: #233141;
    box-shadow: 5px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 75%;
    height: 75%;

}

.sub-container a {
    color: white;
}

.sub-container p {
    font-size: 3vh;
    color: white;
}

p.box-header {
    color: #10AB73;
    font-weight: bold;
}

button:hover {
    background-color: #c3ec5f;
}

.button-link {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    background: #0D1B2B;
    box-shadow: 8px 4px 4px 0 rgba(0, 0, 0, 0.50);
    color: white;
    text-align: center;
    font-style: normal;
    line-height: normal;
    max-width: 50vh;
    width: 100%;
    height: 5vh;
}

.button-link:hover {
    background-color: #45a049;
}
