.sub-container {  display: grid;
    grid-template-columns: 0.8fr 1.9fr 0.8fr;
    grid-template-rows: 0.8fr 2.5fr 0.2fr;
    gap: 0px 0px;
    grid-auto-flow: column dense;
    align-content: center;
    align-items: stretch;
    grid-template-areas:
    ". leaderboard-top3 ."
    ". leaderboard-rest .";
    width: 50%;
}

.leaderboard-top3 {  display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.7fr repeat(2, 1.3fr) 0.7fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    ". . ."
    ". top1 ."
    "top2 . top3";
    ". . .";
    grid-area: leaderboard-top3;
}

.top1 {
    display: flex;
    flex-direction: column;
    grid-area: top1; }

.top2 {
    display: flex;
    flex-direction: column;
    grid-area: top2; }

.top3 {
    display: flex;
    flex-direction: column;
    grid-area: top3; }

.leaderboard-rest {  display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2.1fr 0.2fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    ". . ."
    ". . .";
    grid-area: leaderboard-rest;
}

.sub-container {
    width: 100%;
    height: 90%;
    color: white;
    text-align: center;
    font-family: Play;
    font-size: 3vh;
}

.top1,
.top2,
.top3,
.leaderboard-rest
{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
}

.leaderboard-rest {
    flex-direction: column;
    justify-content: inherit;
    margin-top: 1vh;
}

.user-entry {
    margin-top: 3.5vh;
    border-radius: 12px;
    background: #233141;
    display: flex;
    flex-direction: row;
    padding: 1vh 1vh 1vh 1vh;
}

.user-entry-top3 {
    border-radius: 155px;
    background: #233141;
}

.username {
    margin-right: 2vh;
}
