body {
    font-size: 3vh;
    color: white;
}

.sub-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 6 kolumn */
    gap: 1vh;
    width: 100%;
}

.module-container {
    grid-column: span 2; /* Każdy moduł zajmuje 2 kolumny */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
}

.lessons-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 6 kolumn */
    gap: 1vh;
}

.module-name-and-progress-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.module-name-only {
    margin: 2vh 0 1vh 0;
}

.module-progress-only {
    font-size: 2vh;
}

.lessons-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1vh;
    width: 100%;
}

.lesson-name-and-progress-container {
    grid-column: span 1; /* Każda lekcja zajmuje 1 kolumnę */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0E1828; /* Ciemne tło dla każdej lekcji */
    padding: 1vh;
    border-radius: 5px;
}

.no-lessons-container {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.lesson-name-and-progress-container:nth-child(1) {
    background-color: #041B34
}

#lesson-name-only a {
    color: #00A3FF;
    font-size: 3vh;
}

#lesson-name-only a:hover {
    color: #64EE85;
}

#lesson-name-only {
    text-align: center;
    width: 100%;
    word-wrap: break-word;
}

#lesson-progress-only {
    width: 100%;
    text-align: center;
}

#not-available {
    display: flex;
    color: #64EE85;
    justify-content: center;
}

#no-lessons {
    color: #64EE85;
}