body {
    font-size: 4vh;
    color: white;
}

.sub-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 1.7fr;
    gap: 1vh 1vh;
    grid-auto-flow: row;
    grid-template-areas:
    "modules-container"
    "lessons-container";
    width: 90%;
}

.modules-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-evenly;
}

.lessons-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0 0;
    grid-auto-flow: row;
    grid-area: lessons-container;
}

.lessons-column-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.module-name-and-progress-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.module-name-only {
    margin: 3vh 0 0 0;

}

.module-progress-only {
    font-size: 3vh;
}

#lesson-name-only a {
    color: #00A3FF;
    font-size: 4vh;
}

#lesson-name-only a:hover {
    color: #64EE85;
}

#lesson-progress-only {
    font-size: 4vh;
}

#background-light {
    background-color: #041B34;
}

#background-dark {
    background-color: #0E1828;

}

.background-light {
    background-color: #041B34;
}

.background-dark {
    background-color: #0E1828;

}

.lesson-name-and-progress-container {
    width: 90%;
    margin: 1vh 1vh 1vh 1vh;
    display: flex;
    justify-content: space-between;
}

#not-available {
    display: flex;
    color: #64EE85;
    justify-content: center;
}