p {
    color: #A0A0A0;
    text-align: center;
    font-size: 2vh;
}

a {
    color: #0085FF;
}

a:visited {
    color: #0085FF;
}

.messages {
    font-size: 2vh;
    color: #ECEFF3;
    text-align: center;
    font-style: normal;
    line-height: normal;
    max-width: 50vh;
    width: 100%;
    height: 5vh;
}